BROKER_URL="amqp://guest:guest@rabbitmq:5672//"
CELERY_BACKEND="rpc://"
IS_DEV_MODE=true
CURRENCY_RATE_URL="https://www.cbr-xml-daily.ru/daily_json.js"
DATABASE_URL="mysql+pymysql://user:password@mysql-db:3306/mydb"
REDIS_URL="redis://cache:6379/0"
MONGO_URL="mongodb://mongo:27017"
MONGO_DB="delivery_logs"
MONGO_COLLECTION="cost_logs"